<div class="container vh-100">
    <div class="row vh-100">
        <div class="offset-0 offset-sm-2 col-12 col-lg-8 vh-100 justify-content-center align-items-center d-flex">
            <div class="card px-4 py-3 px-lg-5 py-lg-4">
                <div [formGroup]="dateForm" class="wrapper">
                  <div class="form-group pt-1">
                    <!-- <p class="form-text customType" [style.visibility]="this.dateForm.get('day').valid || this.dateForm.get('day').pristine ? 'hidden':'visible'">DAY</p> -->
                    <p class="form-text customType" [class.warning]="!(this.dateForm.get('day').valid || this.dateForm.get('day').pristine) || this.dateForm?.errors?.isFuture">DAY</p>
                    <input type="text" [class.warning]="!(this.dateForm.get('day').valid || this.dateForm.get('day').pristine) || this.dateForm?.errors?.isFuture" placeholder="DD" class="me-1 mt-2 form-control d-flex" formControlName="day">
                    <div class="field-error">
                      <p class="form-text warning" *ngIf="(this.dateForm.get('day').errors?.required  && !this.dateForm.get('day').pristine)">This field is required</p>
                      <p class="form-text warning" *ngIf="((this.dateForm.get('day').errors?.max || this.dateForm.get('day').errors?.min) && !this.dateForm.get('day').pristine && !this.dateForm.get('day').errors?.minlength && !this.dateForm.get('day').errors?.maxlength)">The day number is not between 1-31</p>
                      <p class="form-text warning" *ngIf="((this.dateForm.get('day').errors?.maxlength || this.dateForm.get('day').errors?.minlength) && !this.dateForm.get('day').pristine)">Invalid day format</p>
                    </div>
                  </div>
                  <div class="form-group pt-1">
                    <!-- <p class="form-text customType" [style.visibility]="this.dateForm.get('month').valid || this.dateForm.get('month').pristine ? 'hidden':'visible'">MONTH</p> -->
                    <p class="form-text customType" [class.warning]="!(this.dateForm.get('month').valid || this.dateForm.get('month').pristine) || this.dateForm?.errors?.isFuture">MONTH</p>
                    <input type="text" placeholder="MM"  [class.warning]="!(this.dateForm.get('month').valid || this.dateForm.get('month').pristine) || this.dateForm?.errors?.isFuture" class="me-1 mt-2 form-control d-flex" formControlName="month">
                    <div class="field-error">
                      <p class="form-text warning" *ngIf="(this.dateForm.get('month').errors?.required  && !this.dateForm.get('month').pristine)">This field is required</p>
                      <p class="form-text warning" *ngIf="((this.dateForm.get('month').errors?.max || this.dateForm.get('month').errors?.min)  && !this.dateForm.get('month').pristine && !this.dateForm.get('month').errors?.minlength && !this.dateForm.get('month').errors?.maxlength)">The month number is not between 1-12</p>
                      <p class="form-text warning" *ngIf="((this.dateForm.get('month').errors?.maxlength || this.dateForm.get('month').errors?.minlength) && !this.dateForm.get('month').pristine)">Invalid day format</p>
                    </div>
                  </div>
                  <div class="form-group pt-1">
                    <!-- <p class="form-text customType" [style.visibility]="this.dateForm.get('year').valid || this.dateForm.get('year').pristine ? 'hidden':'visible'">YEAR</p> -->
                    <p class="form-text customType" [class.warning]="!(this.dateForm.get('year').valid || this.dateForm.get('year').pristine) || this.dateForm?.errors?.isFuture" >YEAR</p>
                    <input type="text" [class.warning]="!(this.dateForm.get('year').valid || this.dateForm.get('year').pristine) || this.dateForm?.errors?.isFuture" placeholder="YYYY" class="mt-2 form-control d-flex" formControlName="year">
                    <div class="field-error">
                      <p class="form-text warning" *ngIf="(this.dateForm.get('year').errors?.required  && !this.dateForm.get('year').pristine)">This field is required</p>
                      <p class="form-text warning" *ngIf="((this.dateForm.get('year').errors?.minlength || this.dateForm.get('year').errors?.maxlength) && !this.dateForm.get('year').pristine) && !this.dateForm?.errors?.isFuture">Year must have 4 digits</p>
                      <p class="form-text warning" *ngIf="this.dateForm?.errors?.isFuture">The date is in the future</p>
                    </div>
                  </div>
                </div>
                <div class="middle d-flex justify-content-around align-items-center">
                  <hr/>
                  <a (click)="calculateAge($event)" [class.disable]="!dateForm.valid" class="circle-button">
                    <div class="hor-line"></div>
                  </a>
                </div>
                <div class="col-12 px-2 mt-2">
                  <ul class="show">
                    <li><span class="time purple me-2" *ngIf="!(dateForm.valid && asked)">--</span><span class="time purple me-3" *ngIf="dateForm.valid && asked">{{years}}</span><span class="time">Years</span></li>
                    <li><span class="time purple me-2" *ngIf="!(dateForm.valid && asked)">--</span><span class="time purple me-3" *ngIf="dateForm.valid && asked">{{months}}</span><span class="time">Months</span></li>
                    <li><span class="time purple me-2" *ngIf="!(dateForm.valid && asked)">--</span><span class="time purple me-3" *ngIf="dateForm.valid && asked">{{days}}</span><span class="time">Days</span></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
